
CONFIG VCCAUX = "3.3";

NET "CLK_100MHz" LOC = V10 | IOSTANDARD = LVCMOS33 | PERIOD = 100MHz;

## I2C PINS

NET "EXP_IO_N2" LOC = T3 | IOSTANDARD = LVCMOS33;
NET "EXP_IO_P2" LOC = R3 | IOSTANDARD = LVCMOS33;
NET "EXP_IO_P4" LOC = U5 | IOSTANDARD = LVCMOS33;

NET "TX" LOC = B8  | IOSTANDARD = LVCMOS33;
